@import url(./__url/url.css);
@import url(./_url-heading/_url-heading.css);

.place__website{ 
    align-self: flex-end;
    flex: 1 1 484px;
}

@media (min-width: 1024px) and (max-width: 1279px){
    .place__website{ 
        align-self: flex-end;
        flex: 1 1 456px;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    .place__website{ 
        align-self: flex-end;
        flex: 1 1 352px;
    }
}

@media (min-width: 375px) and (max-width: 767px){
    .place__website{ 
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 374px){
    .place__website{ 
        display: none;
    }
}